@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fundo: #FFFFFF;
    --cor-texto: #667085;
    --cor-destaque: #8E2424; 
    --cor-titulo: #101828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 50px;
}

.nav_links,
.nav_login {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_login__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    border-radius: 20px;
    width: 112px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav__texto,
.nav__titulo {
    text-decoration: none;
}

.nav__texto {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-texto);
}

.nav__titulo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--cor-titulo);
}

.logo {
    width: 27px;
    height: 27px;
}

main,
.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.cabecalho {
    padding: 40px 0;
}

.texto_destacado {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-destaque);
    margin-bottom: 15px;
}

.cabecalho__titulo {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: var(--cor-titulo);
    text-align: center;
    margin-bottom: 15px;
}

.cabecalho__paragrafo {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-texto);
    text-align: center;
    width: 50%;
}

.metricas {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    padding: 40px 0;
}

.metricas__secao {
    max-width: 250px;
    
}

.metricas__titulos {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--cor-destaque);
}

.metricas__subtitulo {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-titulo);
    margin-top: 8px;
}

.metricas__descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-texto);
    margin-top: 4px;
}

.talentos {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    margin-top: 40px;
}

.talentos__titulo {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--cor-titulo);
    text-align: center;
    margin-bottom: 15px;
}

.talentos__badge {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--cor-destaque);
    background-color: rgb(255, 226, 226);
    border-radius: 20px;
    padding: 8px 16px;
    margin-bottom: 20px;
}

.talentos__descricao {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-texto);
    text-align: center;
    width: 50%;
}

.talentos__imagem {
    width: 100%;
    /*max-width: 600px;*/
    max-height: 800px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.talentos__vagas {
    align-self: flex-start;
    width: 100%;
    padding-left: 15%;
}

.talentos__vagas__secao {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--cor-titulo);
    margin-bottom: 20px;
}

.talentos__vagas__titulo {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-titulo);
    margin-bottom: 10px;
}

.talentos__vagas__descricao {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-texto);
    margin-bottom: 20px;
}

.talentos__vagas__item {
    margin-bottom: 30px;
    padding: 16px;
    border: 1px solid #EAECF0;
    border-radius: 12px;
    background-color: #ffffff;
    width: 80%;
}

.depoimentos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #C3191908;
}

.depoimentos__titulo {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: var(--cor-titulo);
    text-align: center;
    margin-bottom: 15px;
}
.depoimentos__imagem {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 30px;
}
